.zelda-source , a{
    padding: 10px;
    /* margin: 10px; */
    /* padding-top: 0; */
    color: black;
    /* background-color: aqua; */
}
.zelda-source> a:hover{
    background-color: aqua;
}
@media  screen and (max-width:1023px)  {
    section{
        margin: 25px auto 25px auto;
        /* margin-left: auto; */
        /* margin-right: auto; */
        text-align: center;
    }
    section > div{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }
    div#zelda-img > a> img{
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        box-shadow: 10px 10px;
        max-width: 200px;
        max-height: 100px;
        background-color: lightgray;
    }
    div#zelda-img > a> img:hover{
        background-color: blue;
    }
    h4{
        padding-top:20px;
    }
    .zelda-container{
        background-color: violet;
        /* width: 65%; */
        /* margin-left: auto;
        margin-right: auto; */
        /* border-radius: 25px; */
    }
    .zelda{
        display: inline-block;
        text-align: left;
    }
    li{
        width: 100px;
        padding: 10px;
        margin: -1px;
        display:inline-flex;
        /* flex-wrap: wrap; */
        /* border: 1px solid black; */
    }
    div.horizon{
        background-color: aqua;
        margin-top: 25px;
        /* margin-left: auto;
        margin-right: auto; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* text-align: center; */
        /* grid-template-columns: repeat(auto-fit,minmax(70%,1fr)); */
    }
    .horizon > div{
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .horizon > div > img{
        width: 200px;
        max-height: 100px;
        padding: 0;
        margin: 10px;
        /* border: 1px solid black; */
        box-shadow: 10px 10px black;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
    h3{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    div.pokemon{
        background-color: yellow;
        margin-top: 25px;
        /* margin-left: auto;
        margin-right: auto; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* text-align: center; */
        /* grid-template-columns: repeat(auto-fit,minmax(70%,1fr)); */
    }
    .pokemon > div{
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .pokemon > div > img{
        width: 200px;
        max-height: 100px;
        padding: 0;
        margin: 10px;
        /* border: 1px solid black; */
        box-shadow: 10px 10px black;
        /* margin-left: auto; */
        /* margin-right: auto; */
    } 
}

@media screen and (min-width:1024px) {

section{
    margin: 25px auto 25px auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    text-align: center;
}
section > div{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
div#zelda-img > a> img{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px;
    max-width: 200px;
    max-height: 100px;
    background-color: lightgray;
}
div#zelda-img > a> img:hover{
    background-color: blue;
}
h4{
    padding-top:20px;
}
.zelda-container{
    background-color: violet;
    /* width: 65%; */
    /* margin-left: auto;
    margin-right: auto; */
    /* border-radius: 25px; */
}
.zelda{
    display: inline-block;
    text-align: left;
}
li{
    width: 100px;
    padding: 10px;
    margin: -1px;
    display:inline-flex;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
}
div.horizon{
    background-color: aqua;
    margin-top: 25px;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* text-align: center; */
    /* grid-template-columns: repeat(auto-fit,minmax(70%,1fr)); */
}
.horizon > div{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.horizon > div > img{
    width: 200px;
    max-height: 100px;
    padding: 0;
    margin: 10px;
    /* border: 1px solid black; */
    box-shadow: 10px 10px black;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
div.pokemon{
    background-color: yellow;
    margin-top: 25px;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* text-align: center; */
    /* grid-template-columns: repeat(auto-fit,minmax(70%,1fr)); */
}
.pokemon > div{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.pokemon > div > img{
    width: 200px;
    max-height: 100px;
    padding: 0;
    margin: 10px;
    /* border: 1px solid black; */
    box-shadow: 10px 10px black;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
h3 > a > button{
    color:black;
    text-decoration: none;
    font-size: 1.3em;
    box-shadow: 5px 5px;
}
h3 > a > button:hover{
    background-color: blue;
    color: white;
}
}